<launch>
   
   <arg name="image_path"    default="/home/michele/frame0002.png"/>
    
    <node pkg="object_find" type="object_find_sift_cuda" name="object_find_sift_cuda" output="screen">
        <remap from="/image" to="/kinect2/hd/image_color_rect" />
        <param name="image_path"       value="$(arg image_path)" />
    </node>

</launch>

